<table class="table table-bordered" style="text-align: center;">
    <thead class="table-primary">
        <tr>
            <th>구매 선택</th>
            <th>상품</th>
            <th>상품명</th>
            <th>단가</th>
            <th>담은날</th>
            <th>수량</th>
        </tr>
    </thead>
    <form id="productForm" method="POST">
        <tbody>
            <% if (carts && carts.length) { %>
                <% for (let i = 0; i < carts.length; i++) { %>
                    <tr>
                        <td><input type="checkbox" name="select_product" value="<%= carts[i].mer_id %>"></td> <!-- 해당 상품이 무엇인지 전송 -->
                        <td>
                            <a href="/detail/<%= carts[i].mer_id %>" style="text-decoration: none;">
                                <img src="/<%= carts[i].image %>" style="width:100px; height:100px;"> <!--상품-->
                            </a>
                        </td>
                        <input hidden name="price" value="<%= carts[i].price %>" />
                        <input hidden name="cart_id" value="<%= carts[i].cart_id %>" />

                        <td><%= carts[i].name %></td>  <!--상품-->
                        <td><%= carts[i].price %> 원</td> <!--상품-->
                        <td><%= carts[i].date %></td>  
                        <td><input type="number" name="qty" value="1" min="1" style="width: 60px;"></td> 
                    </tr>
                <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="6">현재 등록된 상품이 없습니다!</td>
                    </tr>
                <% } %>
        </tbody>
</table>
            <div style="text-align: right; margin-top: 10px;">
                <button type="submit" class="btn btn-outline-primary btn-sm" onclick="submitForm('/purchase/cart/multi_purchase_process')">결제 </button>
                <button type="submit" class="btn btn-outline-primary btn-sm" onclick="submitForm('/purchase/cart/multi_delete_process')" >삭제</button>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='/'">상품 목록 돌아가기</button>
            </div>
    </form>
        


<script>
    function submitForm(actionUrl) {
        event.preventDefault();
        const form = document.getElementById('productForm');
        form.action = actionUrl; // form의 action을 동적으로 설정
        if(actionUrl === '/purchase/cart/delete_process') {
            if(confirm('정말로 삭제하시겠습니까?')==false) {
                return false; 
            }
        }
        form.submit(); // 폼 제출
    }
</script>
