<div class="container">	
		<% if(method === 'create') { %> 
			<h2>관리자 기능 : 회원 생성</h2>
			<form action="/person/create_process" method="post" >
		<% } else if(method === 'update') { %> 
			<h2>관리자 기능 : 회원 정보 수정</h2>
			<form action="/person/update_process" method="post" >
		<% }else { %>	
			<h2>회원가입</h2>
			<form action="/auth/register_process" method="post" >
		<% } %> 
			<input type="text" name="oLoginid" value="<%= person ? person[0].loginid : ''%>" hidden />
			<div class="mb-3">
				<label class="form-label" for="id">ID</label> 
				<input class="form-control" type="text" value="<%= person ? person[0].loginid : '' %>" name="loginid" placeholder="아이디를 입력해 주세요" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">PW</label> 
				<input class="form-control" type="text" value="<%= person ? person[0].password : '' %>" name="password" placeholder="패스워드를 입력해 주세요" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">이름</label> 
				<input class="form-control" type="text" value="<%= person ? person[0].name : '' %>" name="name" placeholder="이름을 입력해 주세요" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">주소</label> 
				<input class="form-control" type="text" value="<%= person ? person[0].address : '' %>" name="address" placeholder="주소를 입력해 주세요" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">전화번호</label> 
				<input class="form-control" type="text" value="<%= person ? person[0].tel : '' %>" name="tel" placeholder="000-0000-0000" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">생일</label> 
				<input class="form-control" type="text" value="<%= person ? person[0].birth : '' %>" name="birth" placeholder="YYYYMMDD" style="width:300px;" />
			</div>
		
			
			<% if(method !== '') { %> 
				<div class="mb-3">
					<label class="form-label" for="class">CLASS</label> 
					<select name="class" id="class">
						<option value="CEO" <% if(person && person[0].class==='CEO') {%>selected <%}%> >경영자</option>
						<option value="MNG" <% if(person && person[0].class==='MNG') {%>selected <%}%>>관리자</option>
						<option value="CST" <% if(person && person[0].class==='CST') {%>selected <%}%>>고객</option>
					</select>
				</div>

				<div class="mb-3">
					<label class="form-label" for="grade">GRADE</label> 
					<select name="grade" id="grade">
						<option value="S" <% if(person && person[0].grade==='S') {%>selected <%}%>>실버(가장 낮은 등급)</option>
						<option value="G" <% if(person && person[0].grade==='G') {%>selected <%}%>>골드(중간 등급)</option>
						<option value="D" <% if(person && person[0].grade==='D') {%>selected <%}%>>다이아몬드(가장 높은 등급)</option>
					</select>
				</div>
			<% } %> 
			<% 
				var btnName = (method === 'update') ? '수정':'입력'; 
			%> 
			<button class="btn btn-outline-primary btn-sm" type="submit"><%= btnName %></button>
			<% if(method !== '') { %> 
				<button class="btn btn-outline-primary btn-sm" onclick="window.location.href='/person/view'">고객 목록 돌아가기</button>
			<% }else { %> 
				<button class="btn btn-outline-primary btn-sm" onclick="window.location.href='/'">홈으로</button>
			<% } %> 
		</form>	
</div>
	