<table class="table table-bordered ">
    <tr >
        <td rowspan = "7"><img src="/<%= product.image %>" style="width:300px;height:300px; "></td>
    </tr>

    <tr><td><%= product.name%></td></tr>
    <tr> <td>가격 : <%= product.price%>원</td></tr>
    <tr> <td>브랜드 : <%= product.brand %></td></tr>
    <% if(method === 'detail') { %>
        <tr> <td>공급업체 : <%= product.supplier %></td></tr>
    <% } %> 

        <% if(cls === 'CST') { %>
                <% if(method === 'purchase') { %>
                   <form action="/purchase/purchase_process" method="post" style="display: inline-block;">
                        <tr><td>수량 : <input type="number" name="num"/></td></tr>
                        <input type="hidden" name="loginid" value="<%=loginid%>">
                        <input type="hidden" name="mer_id" value="<%=product.mer_id%>">
                        <input type="hidden" name="price" value="<%= product.price%>">
                        <tr>
                        <td><button class="btn btn-outline-primary btn-sm" type="submit">결제</button>
                    </form>
                <% } %> 
                    <% if(method === 'detail') { %>
                        <td>
                        <a href="/purchase/detail/<%= product.mer_id %>" style="display: inline-block; margin-right: 10px;">
                            <button class="btn btn-outline-primary btn-sm">구매</button>
                        </a>
                    <% } %>
            
                    
                        <form action="/purchase/cart_process" method="post" style="display: inline-block;">
                            <input type="hidden" name="loginid" value="<%=loginid%>">
                            <input type="hidden" name="mer_id" value="<%=product.mer_id%>">
                                <button class="btn btn-outline-primary btn-sm" type="submit">장바구니</button></td>
                            </tr>
                        </form>
                    
                </tr>
            
        <% } %> 
</table>